/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2020, 8:05:56 PM
    Author     : luutung
*/

.background{
    font-family: sans-serif;
    background-color: burlywood;
}

.background .body{
    text-align: left;
    padding-left: 50px;
} 

.background .header{
    padding: 20px;
    text-align: center;
    font-weight: 600;
    color: brown;
    font-size: 30px;
}

.background .body .input-form{
    padding: 20px;
    background: cadetblue;
}

.background .footer{
    padding: 30px;
    text-align: center;
    font-size: 25px;
}